@charset "UTF-8";

@import url(../css/layout.css);
@import url(../css/style.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: "wild_worldbold";
    src: url("https://assets.codepen.io/756881/wild_world-webfont.woff2") format("woff2"), url("https://assets.codepen.io/756881/wild_world-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,html {height:100%;}
html,body,div,span,h1,h2,h3,h4,h5,h6,
p,a,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,input,textarea,button,article,footer,header,nav,section{
    margin:0;
    padding:0;
    border:0;
}
* {
    -webkit-tap-highlight-color:transparent;
}
body {
    position:relative;
    min-height:100vh;
    min-height:-webkit-fill-available;
} 
html {
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    height:-webkit-fill-available;
}
img,fieldset {
    border: 0;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
a {
    font-family: 'Pretendard-Regular';    
    color: inherit;
    text-decoration: none;
}
strong {
    font-weight: 700;
}
.WRAP {
    min-height: 100%;
    font-family: 'Noto Sans KR', 'Pretendard-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto !important;
    overflow: hidden;
    box-sizing: border-box;
}
* {
    font-family: 'Noto Sans KR', 'Pretendard-Regular', sans-serif;
}