body, html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  background-color: #cbe0ff;
  overflow-x: hidden;
}

#root {
  overflow: hidden;
}

/* ------------------------------
            메인배너 
------------------------------- */
/* 메인배너 배경 */
.main_title {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #cbe0ff;
  color: #333;
  overflow: hidden;
}
.main_title::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  animation: revealBG 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation: revealBG 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  overflow: hidden;
}
@keyframes revealBG {
  from {
    transform: skewX(-45deg) translateX(-100%) scaleX(0);
  }
  to {
    transform: skewX(-45deg) translateX(-100%) scaleX(1);
  }
}
@-webkit-keyframes revealBG {
  from {
    transform: skewX(-45deg) translateX(-100%) scaleX(0);
  }
  to {
    transform: skewX(-45deg) translateX(-100%) scaleX(1);
  }
}

/* 메인배너 텍스트 */
.main_title_inner {
  font-size: 4rem;
  opacity: 0;
  transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  will-change: opacity, transform;
  -webkit-animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards 400ms;
          animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards 400ms;
}
@media (max-width: 768px) {
  .main_title_inner {
    font-size: 3rem;
  }
}
@media (max-width: 420px) {
  .main_title_inner {
    font-size: 1.7rem;
  }
}
.title-name {
  font-family: "wild_worldbold";
  font-weight: bold;
}
.title-mask {
  position: relative;
  display: block;
  overflow: hidden;
  color: #444;
}
.title-line {
  display: inline-block;
  font-weight: bold;
  opacity: 0;
  transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  -webkit-animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
          animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
.title-mask:nth-child(1) .title-line {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.title-mask:nth-child(2) .title-line {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.title-mask:nth-child(3) .title-line {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
@-webkit-keyframes revealText {
  from {
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes revealText {
  from {
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }
}

/* ------------------------------
              소개 
------------------------------- */
#about {
  height: 100%;
  padding: 140px 0 120px;
}
#about .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1000px;
}
.about_text {
  width: calc(100% - 340px);
  margin-top: 30px;
  margin-right: 20px;
}
.about_title {
  margin-bottom: 20px;
}
.about_title p {
  font-size: 20px;
  font-weight: 500;
}
.about_info ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;
  list-style: none;
  line-height: 1.35rem;
}
.about_info ul li:last-child {
  margin-bottom: 0;
}
.about_info ul li .label {
  min-width: 60px;
  margin-right: 10px;
  font-weight: 500;
  color: #222;
}
.about_info ul li .label span {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
}
.about_info ul li .text {
  position: relative;
  padding-left: 15px;
}
.about_info ul li .text::before {
  position: absolute;
  left: 0;
  top: 6px;
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background-color: #444;
}
.about_info ul li strong {
  margin-right: 8px;
  font-size: 15px;
  color: #333;
  font-weight: 500;
}
.about_btn {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.about_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
  padding: 15px 10px;
  background-color: #222;
  border-radius: 0px;
  color: #fff;
  box-sizing: border-box;
}
.about_img {
  width: 340px;
  border-radius: 10px;
}
.about_img img {
  width: 100%;
}
@media (max-width: 1024px) {
  .about_text {
    width: calc(100% - 300px);
  }
  .about_title p br {
    display: none;
  }
  .about_img {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  #about {
    padding: 130px 0 100px;
  }
  #about .wrapper {
    justify-content: center;
    flex-direction: column-reverse;
    ;
  }
  .about_img {
    width: 60%;
    margin: 0 auto;
  }
  .about_img img {
    width: 100%;
  }
  .about_title p {
    font-size: 16px;
  }
  .about_text {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  #about {
    padding: 20px 0 40px;
  }
  .about_text {
    margin-top: 20px;
  }
  .about_title p {
    font-size: 16px;
  }
  .about_title p br {
    display: none !important;
  }
  .about_info ul li {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .about_info ul li .label {
    display: inline-block;
    min-width: auto;
    margin-right: 7px;
    margin-bottom: 0px;
  }
  .about_info ul li .label span {
    font-size: 14px;
  }
  .about_info ul li .text {
    padding-left: 6px;
  }
  .about_info ul li strong {
    margin-right: 3px;
  }
  .about_info ol li {
    margin-bottom: 0;
  }
  .about_btn a {
    font-size: 14px;
  }
  .about_img {
    width: 100%;
  }
}


/* ------------------------------
            프로젝트 
------------------------------- */
#project {
  height: 100%;
  padding: 100px  0 110px;
  background-color: #fff;
}
.project_head {
  margin-bottom: 50px;
}
.project_head h3 {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: clamp(1.8rem, 10.5vw, 92px);
  color: #333;
  text-shadow: -7px 7px 0 rgba(203, 224, 255, 0.7);
  z-index: 2; 
  pointer-events: none;
}
.project_item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 140px;
}
.item_image {
  width: 500px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.item_image img {
  width: 100%;
  height: 100%;
}
.item_cont {
  width: calc(100% - 540px);
  padding-bottom: 10px;
}
.item_title {
  margin-bottom: 20px;
  line-height: 1.2rem;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
.item_title .small {
  font-size: 18px;
}
.item_title .ing {
  padding: 1px 6px;
  margin-left: 7px;
  vertical-align: middle;
  background-color: #999999;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  box-sizing: border-box;
}
.item_description {
  margin-bottom: 80px;
}
.item_description p {
  margin-bottom: 12px;
  font-size: 16px;
  color: #333;
}
.item_description p:last-child {
  margin-bottom: 0;
}
.item_text {
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
}
.item_function {
  margin-bottom: 15px;
}
.item_function .title {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.item_function dl dd {
  margin-bottom: 7px;
  line-height: 1;
  font-size: 14px;
  color: #333;
}
.item_function dl dd span {
  font-size: 14px;
}
.item_technic {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -.5%;
}
.item_technic li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 4px;
  margin: .5%;
  border-radius: 3px;
  line-height: 1;
  font-size: 12px;
  color: #fff;
}
.item_technic .hmtl {
  background-color: #ba00ba;
}
.item_technic .sass {
  background-color: #ee009b;
}
.item_technic .js {
  background-color: #ffc800;
}
.item_technic .react {
  background-color: #05f3ff;
}
.item_technic .maria {
  background-color: #ed5b00;
}
.item_technic .java {
  background-color: #e31700;
}
.item_technic .sb {
  background-color: #30ee00;
}
.item_technic .jpa {
  background-color: #24b300;
}
.item_technic .vercel {
  background-color: #151515;
}
@media (max-width: 1200px) {
  .item_image {
    width: 400px;
    border-radius: 7px;
  }
  .item_cont {
    width: calc(100% - 440px);
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .project_item {
    display: block;
  }
  .item_image {
    width: 100%;
    margin: 0 auto 40px;
    border-radius: 4px;
  }
  .item_cont {
    width: 100%;
  }
  .item_title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .item_description {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .project_head {
    margin-bottom: 40px;
  }
  .project_head h3 {
    text-shadow: 5px 5px 0 rgba(203, 224, 255, 0.7);
  }
  .project_item {
    margin-bottom: 80px;
  }
  .item_image {
    margin-bottom: 30px;
  }
}

/* 퍼블리싱 프로젝트 */
.project_card {
  display: block;
}
.project_card_title {
  margin-bottom: 30px;
  font-size: 30px;
}
.project_card_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -1%;
}
.card_inner {
  position: relative;
  width: 23%;
  margin: 1%;
  border: 1px solid #838383;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}
.card_inner > a {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.card_inner > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#333;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.card_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_infos {
  background-color: rgb(0, 0, 0,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 35px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 3;
}
.info_title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}
.info_desc {
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
}
.info_cate {
  font-size: 14px;
  color: #fff;
}
@media screen and (min-width:768px) {
	.card_inner:hover a::before {opacity:0.8;}
	.card_inner:hover .card_infos {opacity:1;}
}
@media (max-width: 1200px) {
  .card_infos {
    padding: 20px;
  }
  .info_title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .info_desc {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .info_cate {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .card_inner {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .project_card_list {
    display: block;
    margin: 0;
  }
  .card_inner {
    width: 100%;
    margin: 0 0 20px;
  }
}

/* 버튼 */
.item_btn {
  display: flex;
  align-items: center;
}
.item_btn .btn-group:first-child {
  margin-right: 15px;
}
.btn-group {
  position: relative;
  width: 200px;
  height: 100px;
}
@media screen and (min-width:768px) {
  .btn-group:hover .btn-inner {
    top: -4px;
    transform: scale(1, 1);
    background-color: #333;
    cursor: pointer;      
  } 
  .btn-group:hover .btn-inner a {
    color: #fff;     
  } 
  .btn-group_inner {
    position: absolute;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #333;
  }
  .btn-group_inner:before,
  .btn-group_inner:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 96%;
    border-bottom: 2px solid #333;
  }
  .btn-group_inner:after {
    width: 92%;
    bottom: -14px;
  }
  .btn-inner {
    position: absolute;
    top: 20px;
    left: -2.1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104.2%;
    height: 100%;
    border: 2px solid #333;
    background: #fff;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: scale(.96, .96);
    transition: all .3s;
    box-sizing: border-box;
    z-index: 4;
  }
  .btn-inner a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    color: #333;
  }
}
@media (max-width: 1200px) {
  .btn-group {
    width: 152px;
  }
  .btn-group_inner {
    height: 60px;
  }
  .btn-group_inner:before,
  .btn-group_inner:after {
    bottom: -13px;
    width: 70%;
  }
  .btn-group_inner:after {
    width: 84%;
    bottom: -7px;
  }
}
@media (max-width: 768px) {
  .item_btn {
    justify-content: center;
  }
  .btn-group {
    width: 50%;
    height: 100%;
    background-color: #333;
    border-radius: 3px;
  }
  .btn-inner a {
    font-size: 16px;
  }
  .btn-group_inner {
    height: 100%;
  }
  .btn-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
  }
  .btn-inner a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .item_btn {
    margin-top: 30px;
  }
  .item_btn .btn-group:first-child {
    margin-right: 7px;
  }
}

/* Contact */
#contact {
  padding: 50px 0 80px;
}
.contact_head {
  margin-bottom: 50px;
}
.contact_head h3 {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 900;
  font-size: clamp(1.8rem, 10.5vw, 92px);
  color: #333;
  text-shadow: -7px 7px 0 rgba(255, 255, 255, 0.9);
  z-index: 2; 
  pointer-events: none;
}
.contact_body {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}
.form_row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.form_row:last-child {
  margin-bottom: 0;
}
.form_lbl {
  display: flex;
  align-items: center;
  width: 70px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.form_input {
  display: flex;
  align-items: center;
  width: calc(100% - 70px);
  height: 40px;
  padding: 0 10px;
  background-color: #f4f8ff;
  border-radius: 4px;
  box-sizing: border-box;
}
.form_message {
  width: calc(100% - 70px);
  min-height: 200px;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #f4f8ff;
  resize: none;
  box-sizing: border-box;
}
.form_btn {
  height: 48px;
  text-align: center;
}
.btn_submit {
  width: 140px;
  cursor: pointer;
}
@media screen and (min-width:768px) {
  .btn_submit {
    position: relative;
    display: inline-block;
    background: transparent;
  }
  .btn_submit .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #333;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  .btn_submit .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 48px;
    height: 48px;
    background: #282936;
    border-radius: 24px;
  }
  .btn_submit .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .btn_submit .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 12px;
    width: 16px;
    height: 0.15rem;
    background: none;
  }
  .btn_submit .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -5px;
    right: 1px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
  }
  .btn_submit:hover .circle {
    width: 100%;
  }
  .btn_submit:hover .circle .icon.arrow {
    background-color: #fff;
    transform: translate(1rem, 0);
  }
  .btn_submit:hover .button-text {
    color: #fff;
  }
}
@media (max-width: 768px) {
  .contact_body {
    max-width: 100%;
    border-radius: 3px;
  }
  .form_row {
    display: block;
    margin-bottom: 15px;
  }
  .form_input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
  }
  .form_message {
    width: 100%;
    min-height: 200px;
    border-radius: 3px;
  }
  .btn_submit {
    height: 42px;
    margin: 0 auto;
    background-color: #333;
    border-radius: 21px;
  }
  .btn_submit .button-text {
    position: inherit;
    padding: 0;
    margin: 0;
    color: #fff;
  }
}
@media (max-width: 480px) {
  .contact_body {
    padding: 20px;
  }
  .contact_head h3 {
    text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.9);
  }
  .form_btn {
    height: 100%;
  }
}