body, html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  background-color: #cbe0ff;
  overflow-x: hidden;
}


/* ------------------------------
            메인배너 
------------------------------- */
/* 메인배너 배경 */
.main_title {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #cbe0ff;
  color: #333;
  overflow: hidden;
}
.main_title::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  animation: revealBG 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation: revealBG 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  overflow: hidden;
}
@keyframes revealBG {
  from {
    transform: skewX(-45deg) translateX(-100%) scaleX(0);
  }
  to {
    transform: skewX(-45deg) translateX(-100%) scaleX(1);
  }
}
@-webkit-keyframes revealBG {
  from {
    transform: skewX(-45deg) translateX(-100%) scaleX(0);
  }
  to {
    transform: skewX(-45deg) translateX(-100%) scaleX(1);
  }
}

/* 메인배너 텍스트 */
.main_title_inner {
  font-size: 4rem;
  opacity: 0;
  transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  will-change: opacity, transform;
  -webkit-animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards 400ms;
          animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards 400ms;
}
@media (max-width: 800px) {
  .main_title_inner {
    font-size: 3rem;
  }
}
.title-name {
  font-family: "wild_worldbold";
  font-weight: bold;
}
.title-mask {
  position: relative;
  display: block;
  overflow: hidden;
}
.title-line {
  display: inline-block;
  font-weight: bold;
  opacity: 0;
  transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  -webkit-animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
          animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
.title-mask:nth-child(1) .title-line {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.title-mask:nth-child(2) .title-line {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.title-mask:nth-child(3) .title-line {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
@-webkit-keyframes revealText {
  from {
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes revealText {
  from {
    opacity: 0;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }
}

/* 메인 스크롤 텍스트 */
.smooth-wrapper {
  position: relative;
  overflow: hidden;
}

.scroll-text {
  position: absolute;
}
.scroll-text p {
  font-family: "wild_worldbold";
  font-size: clamp(3rem, 10.5vw, 120px);
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(2, 2, 2, 0.7);
  z-index: -10;
}
.scroll-text.first {
  bottom: -5%;
  left: -5%;
}
.scroll-text.second {
  bottom: -35%;
  right: -5%;
}



/* ------------------------------
              소개 
------------------------------- */
.introduce {
  height: 100%;
  padding: 150px 0;
}
.introduce .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.introduce_text {
  margin-top: 50px;
  margin-right: 20px;
}
.introduce_title {
  margin-bottom: 20px;
}
.introduce_title p {
  font-size: 22px;
  font-weight: 500;
}
.introduce_info ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;
  list-style: none;
  font-size: 1rem;
  line-height: 1.35rem;
}
.introduce_info ul li span {
  width: 100px;
}
.introduce_info ul li strong {
  margin-right: 6px;
}
.introduce_skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.introduce_chart {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 33.33%; 
  text-align: center;
}
.introduce_img {
  border-radius: 10px;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
}
.introduce_img img {
  width: 400px;
}
@media screen and (max-width: 700px) {
  .introduce .wrapper {
    display: block;
  }
  .introduce_text {
    margin-bottom: 50px;
    margin-right: 0;
  }
}


/* ------------------------------
            프로젝트 
------------------------------- */
.project {
  height: 100%;
  padding: 150px 0;
  background-color: #000;
}
.project .wrapper {
  max-width: 1400px;
}
.project_head {
  margin-bottom: 70px;
}
.project_head h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: clamp(1.6rem, 10.5vw, 94px);
  color: #cbe0ff;
  text-shadow: -10px 10px 0 rgba(255, 255, 255, 0.25);
  z-index: 2; 
  pointer-events: none;
}


.item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.item_img {
  width: 500px;
  height: 500px;
  transition: all 0.3s ease-in-out;
}
.bg_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column-start: auto;
  grid-row-start: auto;
  background: url('https://images.khan.co.kr/article/2019/11/03/l_2019110302000086500015273.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 0px 10px -3px rgb(68, 68, 68, 0.4);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  box-sizing: border-box;
}
.item_info {
  width: calc(100% - 540px);
  padding-bottom: 10px;
}
.item_info h3 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.item_description {
  margin-bottom: 80px;
}
.item_description p {
  margin-bottom: 12px;
  font-size: 20px;
  color: #fff;
}
.item_description p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .item_img {
    width: 400px;
    height: 400px;
  }
  .item_info {
    width: calc(100% - 430px);
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .item {
    display: block;
  }
  .item_img {
    width: 100%;
    margin-bottom: 30px;
  }
  .item_info {
    width: 100%;
  }
  .item_info h3 {
    margin-bottom: 10px;
  }
  .item_info p {
    margin-bottom: 20px;
  }
}
.item_btn {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.item_btn .btn-group:first-child {
  margin-right: 15px;
}
.btn-group {
  position: relative;
  width: 200px;
  height: 100px;
}
.btn-group:hover .btn-inner {
  top: -4px;
  transform: scale(1, 1);
  cursor: pointer;      
} 
.btn-group_inner {
  position: absolute;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #cbe0ff;
}
.btn-group_inner:before,
.btn-group_inner:after {
  content: "";
  position: absolute;
  left: 2%;
  bottom: -8px;
  width: 96%;
  border-bottom: 2px solid #cbe0ff;
}
.btn-group_inner:after {
  width: 92%;
  left: 4%;
  bottom: -14px;
}
.btn-inner {
  position: absolute;
  top: 20px;
  left: -2.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104.2%;
  height: 100%;
  border: 2px solid #cbe0ff;
  background: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  transform: scale(.96, .96);
  transition: all .3s;
  box-sizing: border-box;
  z-index: 4;
}
.btn-inner a {
  text-decoration: none;
  color: #cbe0ff;
}








